* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    font-size: 2em;
}


a {
    text-decoration: none;
    color: #d8dbba;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-content {
    flex: 1;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #0D0E09;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.top-content header {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 20px;
    padding-left: 100px;
}

.top-content header > img {
    width: 50px;
}

.top-content header > h1 {
    color: #d8dbba;
    font-size: 3em;
}

.top-content nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 100px;
}

.top-content nav > ul {
    display: flex;
    gap: 60px;
}

.mid-content {
    flex: 30;
    background-color: #EDDEBF;
    display: flex;
    justify-content: center;
    text-align: center;
}

.mid-content > main {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
}

.mid-content > main > section {
    flex: 1;
}

.mid-content > main > section.about {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 100px;
    background-color: #0D0E09;
    border-radius: 20px;
}

.mid-content > main > section.about > div.about-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0px;
}

.mid-content > main > section.about > div.about-left > h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px 50px;
    color: #d8dbba;
    font-size: 3.5em;
}

.mid-content > main > section.about > div.about-left > p {
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    color: whitesmoke;
    text-align: justify;
    margin: 0px 50px;
}

.mid-content > main > section.about > div.about-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.mid-content > main > section.about > div.about-right > iframe {
    width: 50em;
    height: 40em; 
    padding-right: 30px;
}

.mid-content > main > section.brands {
    display: flex;
    flex-direction: column;
    margin: 0px 100px 30px 100px;
    gap: 5px;
}

.mid-content > main > section.brands > .brands-header {
    background-color: #0D0E09;
    border-radius: 20px;
}

.mid-content > main > section.brands > .brands-header > h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #d8dbba;
    font-size: 3.5em;
    padding: 20px;
}

.mid-content > main > section.brands > .brands-logo {
    background-color: #0D0E09;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1820px){
    .mid-content > main > section.brands > .brands-logo {
        flex-wrap: wrap;
    }
}

.anyone, .fontaine, .dealersgrip {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 30px;
}

.mid-content > main > section.brands > .brands-logo > .anyone > .a1-decks {
    display: flex;
    flex-direction: column;
}

.mid-content > main > section.brands > .brands-logo > .anyone > .a1-decks > h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #d8dbba;
    font-size: 1.7em;
}

.mid-content > main > section.brands > .brands-logo > .anyone > .a1-decks > .a1-imgs {
    display: flex;
    flex-direction: row;
}

.mid-content > main > section.brands > .brands-logo > .fontaine > .fonts-decks > h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #d8dbba;
    font-size: 1.7em;
}

.mid-content > main > section.brands > .brands-logo > .fontaine > .fonts-decks > .font-imgs {
    display: flex;
    flex-direction: row;
}

.mid-content > main > section.brands > .brands-logo > .dealersgrip > .dg-decks > h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #d8dbba;
    font-size: 1.7em;
}

.mid-content > main > section.brands > .brands-logo > .dealersgrip > .dg-decks > .dg-imgs {
    display: flex;
    flex-direction: row;
}

.mid-content > main > section.brands > .brands-logo > div > h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #d8dbba;
    font-size: 2em;
}

.mid-content > main > section.brands > .brands-logo > div > img {
    border: 1px solid white;
    border-radius: 50%;
}

.mid-content > main > section.brands > .brands-logo > .fontaine > img {
    border-radius: 10px;
}

.mid-content > main > section.brands > .brands-logo > div > p {
    font-family: 'Yantramanav', sans-serif;
    font-size: 22px;
}

.mid-content > main > section.quotes {
    margin: 0px 100px 30px 100px;
}

.mid-content > main > section.quotes > .quotes-content {
    border: 3px solid lightblue;
    font-family: 'Source Sans Pro', sans-serif;
    color: #d8dbba;
    background-color: #0D0E09;
    font-size: 2.5em;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.mid-content > main > section.quotes > .quotes-content > p:nth-child(2) {
    text-align: center;
}

.mid-content > main > section.contact {
    background-color: #0D0E09;
    margin: 0 20em 30px 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
}

@media screen and (max-width: 1490px) {
    .mid-content > main > section.contact {
        margin: 0 10em 30px 10em;
    }
}

.mid-content > main > section.contact > .contact-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mid-content > main > section.contact > .contact-text > h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #d8dbba;
    font-size: 2em;
}

.mid-content > main > section.contact > .contact-text > p {
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.3em;
    color: whitesmoke;
}

.mid-content > main > section.contact > .contact-button > button {
    background-color: whitesmoke;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: #0D0E09;
    padding: 0.8em;
}

.bot-content {
    background-color: #0D0E09;
    padding: 20px;
}


.bot-content footer {
    font-family: 'Yantramanav', sans-serif;
    text-align: center;
    color: #d8dbba;
}